/com.ibm.streamsx.objectstorage.messagehub.sample.MH2ObjectStorageCSVSample-BuildConfig1.splbuild
/com.ibm.streamsx.objectstorage.messagehub.sample.MH2ObjectStoragePartitionedParquetSample-BuildConfig.splbuild
