/com.ibm.streamsx.objectstorage.generic.perftest.FormatEmptyJavaTest-BuildConfig.splbuild
/com.ibm.streamsx.objectstorage.generic.perftest.FormatTest-BuildConfig.splbuild
/com.ibm.streamsx.objectstorage.generic.perftest.ObjectStorageSinkCSVTest1-BuildConfig1.splbuild
/com.ibm.streamsx.objectstorage.generic.perftest.ObjectStorageSinkParquetTest1-BuildConfig2.splbuild
