{
  "auth_url": "https://identity.open.softlayer.com",
  "project": "",
  "projectId": "",
  "region": "dallas",
  "userId": "",
  "username": "",
  "password": "",
  "domainId": "",
  "domainName": "1160683",
  "role": "admin"
}